*{
    padding: 100px;
    margin: 10px;
    box-sizing: border-box;
}
@font-face{
    font-family: Roboto;
    src: url(../font/Roboto-Regular.ttf)
}
body{
    background-color:#caf7e3;
    font-family: Roboto;
}
main{
    width: 80%;
    height: 100%;
    background-color: #f6dfeb;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.photo {
    width: 100%;
    height: 100%;
    margin: 10px;
    background-color: #edffec;
    -ms-flex-direction: column;
    background-position: center;
    background-size:cover ;
    transition: all 0.5s ease;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1)
}
.photo:hover {
    transform: rotate(3deg) scale(1.06);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}
h1{
    text-align: center;
    width: 100%;
    font-size: 40px;
}
.photo1{
    background-image: url(../img/1.jpg);
    height: 800px;
    }
.photo2{
    background-image: url(../img/2.jpg);
    height: 800px;
}
.photo2{
    background-image: url(../img/3.jpg);
    height: 800px;
}
.photo3{
    background-image: url(../img/2.jpg);
    height: 800px;
}
.photo4{
    background-image: url(../img/4.jpg);
    height: 800px;
}
.photo5{
    background-image: url(../img/5.jpg);
    height: 800px;
    }
.photo6{
    background-image: url(../img/6.jpg);
    height: 800px;
}
.photo7{
    background-image: url(../img/7.jpg);
    height: 800px;
}
.photo8{
    background-image: url(../img/8.jpg);
    height: 800px;
 }
.photo9{
    background-image: url(../img/9.jpg);
    height: 800px;
 }
 .photo10{
    background-image: url(../img/10.jpg);
    height: 800px;
}
 .photo11{
     background-image: url(../img/11.jpg);
     height: 800px;
 }