*{
padding: 0;
margin: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body{
    background-color: #eae3c8;
}
.main {
    background-color:#a1cae2;
    display: flex;
    width: 95%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 0 10px 1px rgba (0,0,0,0.3);
    flex-wrap: wrap;
}
.item {
    max-height: 265px;
    max-width: 490px;
    width: calc(50% - 10px);
    height: calc(95vw / 2 / 16 *9);
    background-color: rgb(218, 218, 40);
    margin: 5px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}